<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <!-- <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div> -->
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">iTalanta-Elewa/Moringa Open-Source</div>
                                        <div class="h6 mt-0 title">Intern Software Developer (2022-08 - Present)</div>
                                        <p align="justify">The Elewa LMS is worlds first conversational learning manager. The Elewa LMS allows you to build, host and manage courses that run over a conversational platform such as WhatsApp, Telegram, Messenger or our very own web platform.</p>
                                        <p align="justify">Working as a frontend developer using Angular</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Open-Source</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">Github</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Slack</li>
                                                        <li class="non_list">HTML</li>
                                                        <li class="non_list">SCSS</li>
                                                        
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <!-- <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div> -->
                            <!-- <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Novelsynth Soft Solution Pvt Ltd</div>
                                        <div class="h6 mt-0 title">Associate Software Engineer (2018-07 - 2019-08)</div>
                                        <p align="justify">Worked as a Software developer to develop analytical and visualization solution for oil and gas industries.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">Hibernate</li>
                                                        <li class="non_list">Maven</li>
                                                        <li class="non_list">Mysql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Microsoft Azure</li>
                                                        <li class="non_list">Vaadin Web Framework</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </li>
                    </ul>
                </div>
    </div>
</div>
